/* GENERAL */

html, body {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    min-height: 100vh;
    max-height: 100vh;
    flex: 1;
    background-color: rgb(241, 244, 244);
}

/* CENTER!! */

.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    gap: 5vh;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: rgba(245, 222, 179, 0.83);
    height: 55vh;
    box-sizing: border-box;
    padding: 1.2vh;
}

.item a {
    font-family: "Outfit", sans-serif;
    justify-content: center;
    text-decoration: none;
}

.has-image {
    font-weight: 300;
    display: flex;
}

.item img {
    padding-top: 2vh;
    width: 90%;
    object-fit: scale-down;
    gap: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1vh;
}

.text h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
  }

.text p {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}

.text h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}