* {
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(255, 0, 0); */
    font-family: "Xanh Mono", "Cutive Mono", serif;
}

body {
    color: white;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 500vh;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 0, 0, 0);
}

.bg {
    background-color: rgb(12, 12, 13);
    transition: all 0.2s ease-in;
}

/* CHARACTERS */

.mier,
.quince {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
}

.simeon,
.pio {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
}

.skulls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mier-right,
.mier-left,
.simeon-right,
.simeon-left,
.quince-right,
.quince-left,
.pio-right,
.pio-left,
.aurelius,
.rufus,
.ignatius,
.brutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}

.img {
    display: flex;
}


.container .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* background-color: rgba(255, 255, 255, 0.182); */
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.182), transparent);
    height: 60vh;
    width: 70%;
    border-radius: 1%;
    box-sizing: border-box;
    padding: 10%;
    text-align: center;
    gap: 10%;
}

/* MIER */

.mier-img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 4s ease-in-out;
    object-fit: contain;
    transform: translateX(-3%) translateY(3%);
}

.mier-img:hover {
    transform: scale(1.8) translateX(6.5%) translateY(15%);
}

container img {
    transform: scale(1);
}


/* ARROWS */

.arrows {
    color: rgb(119, 172, 192);
}

.arrow-left,
.arrow-right {
    position: fixed;
    cursor: pointer;
    font-size: 40px;
    transition: all 0.1s ease;
    transform: scale(1);
}

.arrow-left {
    bottom: 4.5rem;
    right: 2rem;
}

.arrow-right {
    bottom: 2rem;
    right: 2rem;
}

.arrow-left:hover,
.arrow-right:hover {
    transform: scale(1.2);
}   
