/* GENERAL */

html, body {
    display: flex;
    flex-direction: column;
    height: 300vh;
    flex: 1;
}

/* CENTER!! */

.center-text {
    text-align: center;
    gap: 5px;
    color: rgb(255, 255, 255);
    transition: all 2s ease;
    opacity: 0;
    padding: 20px;
    padding-bottom: 80px;
    font-weight: normal;
}

.center-text h2,
.center-text h6 {
    font-weight: normal ;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3e5e600;
    color: rgb(25, 25, 25);
    flex: 1;
    width: 100%;
}

.two-halves {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 300vh;
    max-height: 300vh;
}

.first-half, .second-half {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.first-half {
    background-color: rgba(177, 238, 238, 0);
}

.second-half {
    background-color: rgba(255, 149, 122, 0);
}

.content-box {
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #b3b6ba3f;
    min-height: 300vh;
    max-height: 300vh;
    width: 70%;
    opacity: 0;
    text-align: justify;
    color: #ffffff;
}

.content-box p {
    font-weight: 100;
    font-size: 0.9rem;
}

/* TOGGLES */

.toggles {
    position: fixed;
    z-index: 100;
    bottom: 25%;
    right: 10px;
    transition: all .2s ease;
    color: #ffffff;
    opacity: 0;
    font-family: 'Courier New', Courier, monospace;
}

.toggles h2 {
    margin: 5px 0px;
}

.h:hover {
    color: #3a48df;
    cursor:pointer;
}

.x:hover {
    color: #3a48df;
    cursor:pointer;
}

/* IMAGES */

.mier {
    z-index: -1;
    position: absolute;
    top: 20%;   
    /* transform: translateX(-10%); */
    /* transform: translateY(-5%); */
    width: 25em;
    animation: fall-in 3.5s ease;
    transition: all 2s ease;
}

.mier:hover {
    cursor:pointer;
}

.bg {
    z-index: -10;
    position: fixed;
    width: 100%;
    transition: all 4s ease;
    object-fit: cover;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d0f1156;
    color: rgb(255, 255, 255);
    margin-top: auto;
    position: fixed;
    bottom: -100px;
    width: 100%;
    padding: 7px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    transition: bottom 0.7s;
}

.quote {
    opacity: 0;
    transition: opacity 0.2s;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}


/* ANIMATIONS */

@keyframes fall-in {
    0% {
        top: -100%;
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    40% {
        top: 30%;
    }   
    100% {
        top: 20%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes container-slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-150%);
    }
}

@keyframes container-slide-out {
    0% {
        transform: translateX(-150%);
    }
    80% {
        transform: translateX(1%);
    }
    100% {
        transform: translateX(0%);
    }
}