/* GENERAL */

html, body {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    min-height: 100vh;
    max-height: 100vh;
    flex: 1;
}

/* CENTER!! */

.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* gap: 20%; */
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    background-color: transparent;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.likes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dislikes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kyle {
    position: fixed;
    bottom: -2%;
    right: 18%;
    transition: all 2s ease;
    animation: popup 2s ease;
    opacity: 0.1;
}

.kyle:hover {
    cursor: pointer;
}

@keyframes popup {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: -2%;
    }
};

@keyframes instapop {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}