* {
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(255, 0, 0); */
}

body {
    color: white;
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6, .pp {
    font-family: monospace;
}

.pp {
    text-decoration: underline;
}

.pp:hover {
    cursor: pointer;
}

.char-info {
    position: absolute;
    display: none; 
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    min-width: 20vw;
    max-width: 25vw;
    pointer-events: none;
    z-index: 100;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 500vh;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 0, 0, 0);
    box-sizing: border-box;
}

.bg {
    background-color: rgb(12, 12, 13);
    transition: all 0.2s ease-in;
}

/* CHARACTERS */

.mier,
.quince {
    display: grid;
    grid-template-columns: 45% 55%;
}

.simeon,
.pio {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
}

.mier-right,
.mier-left,
.simeon-right,
.simeon-left,
.quince-right,
.quince-left,
.pio-right,
.pio-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    /* height: 100vh; */
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.container .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.182), transparent);
    height: 60vh;
    width: 70%;
    border-radius: 1%;
    box-sizing: border-box;
    padding: 10%;
    text-align: center;
    gap: 10%;
}

.skulls {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    transition: all 1s ease;
}

.brother {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
}

.skulls img {
    position: absolute;
    width: 40vw;
    transform: translateY(23%);
    transition: all 1.3s ease;
}

/* .skull-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} */

/* MIER */

.mierology {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    bottom: 15%;
    gap: 1.5vh;
    z-index: 1000;
}

.miertype {
    width: 15vh;
    height: 15vh;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.25);
}

.miertype:hover {
    cursor: pointer;
}

.miertype img {
    max-width: 100%;
    max-height: 100%;
    opacity: .2;
    border-radius: 10%;
    transition: all 1s ease;
}

.miertype img:hover {
    opacity: 1;
}

.mierology .current-mier {
    opacity: 1;
    box-shadow: 0px 0px 10px -5px #FFFFFF;
    background-color: rgb(255, 255, 255);
    animation: glow 2s infinite;
}

.mier-img {
    height: 100vh;
    padding-right: 5%;
    transition: all 2s ease;
    transform: translateX(200%);
}

.mierangel-img {
    position: fixed;
    height: 100%;
    object-fit: contain;
    transition: all 2s ease;
    animation: mier-popup 2s ease;
    z-index: 2000;
    pointer-events: none;
    padding-right: 5%;
}

/* ARROWS */

.arrows {
    color: rgb(119, 172, 192);
}

.arrow-left,
.arrow-right {
    position: fixed;
    cursor: pointer;
    font-size: 40px;
    transition: all 0.1s ease;
    transform: scale(1);
    z-index: 500;
}

.arrow-left {
    bottom: 4.5rem;
    right: 2rem;
}

.arrow-right {
    bottom: 2rem;
    right: 2rem;
}

.arrow-left:hover,
.arrow-right:hover {
    transform: scale(1.2);
}   


@keyframes glow {
    0% {
        filter: drop-shadow(0px 0px 10px #FFFFFF);
    }
    50% {
        filter: drop-shadow(0px 0px 5px #ffffff4e);
    }
    100% {
        filter: drop-shadow(0px 0px 10px #FFFFFF);
    }
}

@keyframes mier-popup {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes mier-popdown {
    0% {
        bottom: 0%;
    }
    100% {
        bottom: -100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}